---
---
<h1 class="about-headline">
  <small>
    <span role="img" aria-label="Hand waving emoji">👋</span>
    {` `}
    Hello, I&apos;m Dimitri<br/>
  </small>
  I love <strong>tinkering with code</strong>, and I occasionally <strong>write</strong> and <strong>talk</strong> about it.
</h1>
<style>
    h1.about-headline {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 3rem;
        line-height: 5rem;
    }

    h1.about-headline small {
        font-size: 2rem;
        line-height: 2rem;
    }
</style>