.action-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.action-title__text {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.action-title__button {
  margin-left: 0.8rem;
}
