---
interface Props {
  innerClass?: string;
}
const {innerClass = ''} = Astro.props;
---
<div class="bg-secondary-light w-full">
  <div class={`max-w-content mx-auto px-4 ${innerClass}`.trim()}>
    <slot />
  </div>
</div>
