.elevator-pitch {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-template-rows: auto auto;
  margin-bottom: 5rem;
  background-color: var(--background-color-dark-1);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.elevator-pitch__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  border-radius: 50%;
  align-self: center;
}

.elevator-pitch__title {
  font-weight: 400;
  font-size: 2rem;
  grid-row: 1;
  grid-column: 2;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.elevator-pitch__bio {
  font-size: 1.2rem;
  line-height: 1.8rem;
  grid-row: 2;
  grid-column: 2;
  margin-top: 0;
}
