.elevator-pitch {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto auto;
  margin-bottom: 80px;
  background-color: var(--background-color-dark-1);
  padding: 20px;
  border-radius: 5px;
}

.elevator-pitch__image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  border-radius: 50%;
  align-self: center;
}

.elevator-pitch__title {
  font-weight: 400;
  font-size: 32px;
  grid-row: 1;
  grid-column: 2;
}

.elevator-pitch__bio {
  font-size: 18px;
  line-height: 30px;
  grid-row: 2;
  grid-column: 2;
}
