.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 4rem;
  max-width: var(--container-width);
  padding: 0 1rem;
}

.header-logo > svg {
  width: 100px;
  height: auto;
  fill: var(--text-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation > a {
  margin-left: 2rem;
  text-transform: lowercase;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color-lighter);
  transition: color .3s;
}

.header-navigation > a:hover {
  color: var(--secondary-color);
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    position: relative;
  }

  .header-navigation {
    margin-top: 1.5rem;
  }

  .header .theme-switch__button {
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
  }
}
