.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px;
  max-width: 760px;
}

.header__logo > svg {
  width: 100px;
  height: auto;
}

.header__navigation > a {
  margin-left: 15px;
  text-decoration: none;
  color: #777;
  transition: color .3s;
}

.header__navigation > a:hover {
  color: #222;
}
