:root {
    --primary-color: #2d3452;
    --primary-color-lightest: #9c9fbd;

    --secondary-color: #f0803c;
    --secondary-color-lighter: #facdb3;

    --tertiary-color-lighter: #80bfcd;
    --tertiary-color: #60a5b4;
    --tertiary-color-darker: #356771;
    --tertiary-color-darkest: #215058;

    --background-color: #FFFFFF;
    --background-color-darker: #f3f3f9;
    --background-color-darkest: #dbdbe3;

    --text-color: #051923;
    --text-color-lighter: #404c5a;
    --text-color-lightest: #5b6976;
    --text-color-inverse: #ffffff;
    --text-color-inverse-darker: #b4b4c7;

    --container-width: 950px;
}

:root[data-theme=dark] {
    --text-color: #d4d4d1;
    --text-color-lighter: #b3b3b3;
    --text-color-lightest: #a1a1a1;

    --background-color: #2b2b2b;
    --background-color-darker: #212121;
    --background-color-darkest: #171717;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background-color-darker);
    color: var(--text-color);
    transition: background .3s, color .3s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 strong {
    background-color: var(--secondary-color-lighter);
    font-weight: 700;
}

:root[data-theme=dark] h1 strong {
    color: var(--secondary-color);
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

main {
    max-width: var(--container-width);
    padding: 0 1rem;
    margin: 0 auto;
}
