---
---
<div class="not-found">
  <h1
    class="not-found__title">
    404
  </h1>
  <h2
    class="not-found__subtitle">
    The page you&apos;re looking for doesn&apos;t exist
  </h2>
  <a
    href="/"
    class="not-found__link">
    Take me to the homepage &rarr;
  </a>
</div>

<style>
    .not-found {
        padding: 8vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .not-found > .not-found__title {
        font-size: 7rem;
        line-height: 6rem;
        margin-bottom: 0;
        color: var(--text-color-lightest);
    }

    .not-found > .not-found__subtitle {
        font-size: 1rem;
        font-weight: 400;
    }
</style>