---
import BandContainer from './BandContainer.astro';
---
<BandContainer innerClass="pt-14 pb-10">
  <h1 class="font-heading font-extrabold text-[2.5rem] leading-tight text-ink m-0">
    <slot />
  </h1>
</BandContainer>
<hr class="border-0 border-t-[3px] border-ink m-0" />
