---
import PostCard from './PostCard.astro';
import {type Post} from '../models/Post';

export interface Props {
  posts: Post[];
}

const {posts} = Astro.props;
---
<section class="grid grid-cols-2 gap-6 mb-8 max-sm:grid-cols-1">
  {posts.map((post) => <PostCard post={post}/>)}
</section>
