.excerpt {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: 25px auto 25px auto 40px;
  align-items: center;
}

.excerpt__category {
  color: #CB6335;
  text-transform: uppercase;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 14px;
}

.excerpt__title {
  grid-row: 2;
  grid-column: 1;
  margin: 0 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
}

.excerpt__title--new {
  background-color: #F5E0D7;
  color: #CB6335;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 7px;
  border-radius: 3px;
  margin-right: 10px;
}

.excerpt__time {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  vertical-align: middle;
  margin: 0 0 20px;
}

.excerpt__tags {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.excerpt__content {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.excerpt__content * {
  font-size: 18px;
  line-height: 30px;
}

.excerpt__more {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
