.excerpt {
  overflow: hidden;
  max-width: 100%;
  display: flex;
  flex: 0 0 calc(50% - 2rem);
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem 0.3rem 0 #00000020;
  flex-direction: column;
  background-color: var(--background-color);
  color: inherit;
  transition: transform .3s, box-shadow .3s;
  border: solid 2px var(--primary-color);
}

.excerpt:hover {
  color: inherit;
  transform: scale(1.05);
  box-shadow: 0 0.3rem 0.8rem 0 #00000020;
}

:root[data-theme=dark] .excerpt {
  box-shadow: 0 0.3rem 0.3rem 0 #00000080;
}

:root[data-theme=dark] .excerpt:hover {
  box-shadow: 0 0.3rem 0.8rem 0 #00000080;
}

.excerpt-header {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  padding: 1.5rem 1rem 1rem;
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 1.2rem auto auto;
}

.excerpt-header-image {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-left: -2rem;
  width: 5rem;
  height: 5rem;
}

.excerpt-header > h2 {
  font-size: 1.5rem;
  margin-top: 0;
  grid-row: 2;
  grid-column: 2;
}

.excerpt-header-category {
  color: var(--secondary-color);
  grid-column: 2;
  grid-row: 1;
}

.excerpt-header-date {
  grid-column: 2;
  grid-row: 3;
  color: var(--text-color-inverse-darker);
}

.excerpt-body {
  padding: 1rem;
}

.excerpt-read-more {
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
}
