.read-more {
  margin-bottom: 5rem;
  background-color: var(--background-color-dark-1);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.read-more__info {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 0;
}
