.social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  place-items: center;
}

.social-link {
  margin-right: 2rem;
}

.social-links .social-link:last-child {
  margin-right: 0;
}

.social-link svg {
  fill: var(--text-color-lighter);
  transition: fill .3s;
}

.social-link:hover svg {
  fill: var(--secondary-color);
}
