.tags {
    padding: 0;
    list-style-type: none;
    display: block;
}

.tags > li {
    display: inline;
}

.tags > li > a {
    color: var(--text-color-light-1);
    font-weight: 300;
    text-decoration: none;
    background-color: var(--background-color-dark-2);
    border-radius: 1px;
    padding: 4px 8px;
    margin-right: 10px;
    border: none;
}

:root[data-theme=dark] .tags > li > a {
    color: var(--text-color);
}

:root[data-theme=dark] .tags > li > a:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-light-3);
}
