#theme-switch {
  height: 0;
  width: 0;
  opacity: 0;
  margin-left: 1rem;
}

#theme-switch + label {
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  background: var(--secondary-color);
  display: block;
  border-radius: 1.5rem;
  position: relative;
}

#theme-switch:checked + label {
  background:var(--tertiary-color);
}

#theme-switch + label:before {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.65rem;
  border: solid 0.1rem white;
  transition: left .3s;
  z-index: 9;
}

#theme-switch:checked + label:before {
  left: calc(100% - 1.4rem);
}

#theme-switch:focus + label:before {
  border-color: var(--primary-color);
}

#theme-switch + label > svg {
  right: 0.2rem;
  position: absolute;
  top: 0.2rem;
  z-index: 10;
  color: white;
}

#theme-switch:checked + label > svg {
  left: 0.2rem;
  right: unset;
}
