---
---
<section class="visit-blog">
  <a
    class="button-primary"
    href="/category/tutorials">
    check my tutorials...
  </a>
</section>

<style>
    .visit-blog {
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>